body {background-color: #FDF0D5;}
body {color: #003049;}
a {color: #023E8A;}
h1, h2, h3 {color: #003049;}
nav { background-color: #E3D5CA;}
nav a {color: #780000;}
nav a:hover {background-color: #EDEDE9;}
nav {padding: 10px; margin-bottom: 30px; border-radius: 1em;}
.end_text {float:right;}
.img1 {float: right; margin-left: 10px; max-width:100%;}
.clear{clear:both;}
.contact_page{display:flex; background-color: aliceblue; border-radius: 1em; justify-content: space-around;}
.others{display:flex; background-color: #cce5ff; border-radius: 1em; justify-content: space-around; flex-wrap:wrap;}
.address, .links, .map, .form { padding: 10px; margin: 10px;}
.icon {font-size: 50px;}
.skills_box {justify-content: space-around; display:flex; flex-basis:75%}
.aside_box{border-radius: 1em; background-color: #cce5ff; flex-basis: 25%; padding:10px;}
.flex2 {display: flex; margin-top: 10px;}
.main{margin:20px;}
@media screen and (max-width: 700px) {
    nav a {
    max-width:100%; display: block;
    }
    .ns {display: none;}
    nav {padding: 10 px;}
}